<template>
    <require from="./calendar.css"></require>

  <div class="calendar" ref="calendarButton">
    <div class="selected-date">${dateSelected}</div>

    <div class="dates" show.bind="visible">
      <div class="month">
        <div class="arrows prev-mth" ref="prevMonthArrow">&lt;</div>
        <div class="mth">${currentMonthYear}</div>
        <div class="arrows next-mth" ref="nextMonthArrow">&gt;</div>
      </div>

      <div class="days">
        <div class="day" repeat.for="day of daysOfMonth">${day}</div>
      </div>
    </div>
  </div>

</template>
