<template>
  <!--Requirements-->
  <require from="./checkbox.css"></require>

  <!--Content-->
  <div class="checkbox__container d-flex flex-row align-items-center">
    <input class="checkbox__input" type="checkbox" id="checkboxInput" ref="checkboxInput" value.bind="value">
    <label class="checkbox__label" for="checkboxInput">${name}</label>
  </div>
  <div class="checkbox__error-message-container ${errorMessage ? 'error-message-active' : ''}">
    <p class="checkbox__error-message">${errorMessage}</p>
  </div>
</template>
