.checkbox__container .checkbox__input {
  margin-right: 10px;
  display: flex;
  font-size: 22px;
  width: 19px;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 19px;
  background-color: rgba(66, 65, 65, 0.158);
  border-radius: 10%;
  outline: none;
  transition: background-color 0.5s;
}

.checkbox__container .checkbox__input:hover {
  cursor: pointer;
  background-color: rgba(31, 30, 30, 0.295);
}

.checkbox__container .checkbox__input:checked {
  background-color: rgba(80, 80, 204, 0.74);
  outline: none;
}

.checkbox__container .checkbox__input:checked:after {
  height: 80%;
  width: 80%;
  content: "";
  margin-top: -3px;
  margin-left: -2px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(39deg);
  -moz-transform: rotate(39deg);
  -ms-transform: rotate(39deg);
  transform: rotate(39deg);
  display: inline-block;
}

.checkbox__container .checkbox__label {
  font-size: 17px;
  color: rgba(26, 25, 25, 0.726);
}

.checkbox__container .checkbox__label:hover {
  cursor: pointer;
}
