<template>
  <!--Requirements-->
  <require from="./combobox.css"></require>

  <!--Content-->
  <div class="combobox__container">
    <text-field
      class="combobox__text-field"
      placeholder.to-view="placeholder"
      label.to-view="label"
      show-clear-button.to-view="showClearButton"
      first-letter-upper-case.to-view="firstLetterUpperCase"
      allow-only-numbers.to-view="allowOnlyNumbers"
      disable.to-view="disable"
      error-message.to-view="errorMessage"
      required.to-view="required"
      value.two-way="value & throttle"
      hide-suffix-container.to-view="hideSuffixContainer"
      for.to-view="for"
    >
      <div class="combobox__suffix-container" slot="suffix-container">
        <a
          class="combobox__transparent-bg-color d-flex align-items-center m-2 text-decoration-none"
          click.trigger="dropDownListIconClicked()"
          ><i
            class="combobox__drop-down-icon-list fas fa-angle-down combobox__transparent-bg-color text-decoration-none combobox__pointer-cursor"
          ></i
        ></a>
      </div>
    </text-field>
  </div>
</template>
