.combobox__transparent-bg-color {
  background-color: transparent !important;
}

.combobox__transparent-bg-color:hover {
  background-color: transparent !important;
}

.combobox__suffix-container {
  background-color: transparent !important;
}

.combobox__pointer-cursor {
  cursor: pointer;
}

.combobox__drop-down-icon-list {
  font-size: 26px;
  color: rgba(5, 5, 5, 0.61);
}

.combobox__container:hover .combobox__drop-down-icon-list {
  animation-name: comboboxBlueHighlight;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes comboboxBlueHighlight {
  from {
    color: rgba(5, 5, 5, 0.61);
  }

  to {
    color: #58c1f5;
  }
}

